POSTGRES_URL =
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

KESTRA_UI_PORT=
KESTRA_API_PORT= 
PGADMIN_PORT= 
GRAFANA_PORT= 

PGADMIN_EMAIL = 
PGADMIN_PASSWORD = 

GRAFANA_ADMIN_PASSWORD = 

BSKY_IDENTIFIER = # BLUESKY USERNAME
BSKY_PASSWORD = 

X_BEARER_TOKEN = # X APP-ONLY BEARER TOKEN

