POSTGRES_URL= jdbc:postgresql://postgres-coordinator:5432 # For docker, 'postgres-coordinator' is the default name of the Postgres container
POSTGRES_USERNAME= postgres # For DB root access, 'postgres' is default
POSTGRES_PASSWORD= postgres # For DB root access, 'postgres' is default
POSTGRES_DB= socialpipe # For Project DB, 'socialpipe' is default
POSTGRES_PORT= 5432 # For Postgres port, '5432' is default

KESTRA_UI_PORT= 8080 # For Kestra UI port, '8080' is default
KESTRA_API_PORT= 8081 # For Kestra API port, '8081' is default
PGADMIN_PORT= 5050 # For PGAdmin port, '5050' is default
GRAFANA_PORT= 3000 # For Grafana port, '3000' is default

PGADMIN_EMAIL = admin@admin.com # For PGAdmin email, 'admin@admin.com' is default
PGADMIN_PASSWORD = admin # For PGAdmin password, 'admin' is default

GRAFANA_ADMIN_PASSWORD = admin # For Grafana admin password, 'admin' is default

BSKY_IDENTIFIER = # BLUESKY USERNAME
BSKY_PASSWORD = 

X_BEARER_TOKEN = # X APP-ONLY BEARER TOKEN

