POSTGRES_URL =
POSTGRES_USERNAME= # For DB root access
POSTGRES_PASSWORD= # For DB root access
POSTGRES_DB= # For Project DB
POSTGRES_PORT=

KESTRA_UI_PORT=
KESTRA_API_PORT= 
PGADMIN_PORT= 
GRAFANA_PORT= 

PGADMIN_EMAIL = 
PGADMIN_PASSWORD = 

GRAFANA_ADMIN_PASSWORD = 

BSKY_IDENTIFIER = # BLUESKY USERNAME
BSKY_PASSWORD = 

X_BEARER_TOKEN = # X APP-ONLY BEARER TOKEN

